@tailwind base;
@tailwind components;
@tailwind utilities;

.notes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

textarea, textarea:focus{
    border: none;
    resize: none;
    outline: none;
}
